<div class="col-md-6 offset-md-3">
  <div class="login-wrapper">
    <div class="col-md-10 offset-md-1">
      <h3>Register user</h3>

      <form action="" [formGroup]="formCreateUser" novalidate (ngSubmit)="createUser(formCreateUser)">
        <div class="form-group">
          <label>User name</label>

          <mat-form-field class="full-width">
            <input matInput placeholder="User name" [formControl]="formCreateUser.controls['username']">
          </mat-form-field>

          <div class="alert alert-danger"
               *ngIf="formCreateUser.controls['username'].errors && formCreateUser.controls['username'].touched">
            <span *ngIf="formCreateUser.controls['username'].hasError('required')">This field required</span>
            <span *ngIf="formCreateUser.controls['username'].hasError('minlength')">Invalid enter min length password. Correct length: {{minLength}}</span>
            <span *ngIf="formCreateUser.controls['username'].hasError('maxlength')">Invalid enter max length password. Correct length: 255</span>
          </div>
        </div>

      <div class="form-group">
          <label>Second name</label>

          <mat-form-field class="full-width">
              <input matInput placeholder="User name" [formControl]="formCreateUser.controls['secondname']">
          </mat-form-field>

          <div class="alert alert-danger"
               *ngIf="formCreateUser.controls['secondname'].errors && formCreateUser.controls['secondname'].touched">
              <span *ngIf="formCreateUser.controls['secondname'].hasError('required')">This field required</span>
              <span *ngIf="formCreateUser.controls['secondname'].hasError('minlength')">Invalid enter min length password. Correct length: {{minLength}}</span>
              <span *ngIf="formCreateUser.controls['secondname'].hasError('maxlength')">Invalid enter max length password. Correct length: 255</span>
          </div>
      </div>

      <div class="form-group">
          <label>Phone</label>

          <mat-form-field class="full-width">
              <input matInput placeholder="Phone" [formControl]="formCreateUser.controls['phone']" [textMask]="{mask: mask}">
          </mat-form-field>

          <div class="alert alert-danger"
               *ngIf="formCreateUser.controls['phone'].errors && formCreateUser.controls['phone'].touched">
              <span *ngIf="formCreateUser.controls['phone'].hasError('required')">This field required</span>
          </div>
      </div>

        <div class="form-group">
          <label>Email</label>

          <mat-form-field class="full-width">
            <input matInput placeholder="Email" [formControl]="formCreateUser.controls['email']">
          </mat-form-field>

          <div class="alert alert-danger"
               *ngIf="formCreateUser.controls['email'].errors && formCreateUser.controls['email'].touched">
            <span *ngIf="formCreateUser.controls['email'].hasError('required')">This field required</span>
            <span *ngIf="formCreateUser.controls['email'].hasError('email')">Incorrect email address</span>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>

          <mat-form-field class="full-width">
            <input matInput placeholder="Password" [formControl]="formCreateUser.controls['password']">
          </mat-form-field>

          <div class="alert alert-danger"
               *ngIf="formCreateUser.controls['password'].errors && formCreateUser.controls['password'].touched">
            <span *ngIf="formCreateUser.controls['password'].hasError('required')">This field required</span>
            <span *ngIf="formCreateUser.controls['password'].hasError('minlength') && formCreateUser.controls['password'].hasError('pattern')">Invalid enter symbols. Correct: any letters or/and numbers without special character</span>
            <span *ngIf="formCreateUser.controls['password'].hasError('minlength')">Invalid enter min length password. Correct length: {{minLength}}</span>
            <span *ngIf="formCreateUser.controls['password'].hasError('maxlength')">Invalid enter max length password. Correct length: {{maxLength}}</span>
          </div>
        </div>

          <div class="form-group">
              <button type="submit" class="btn btn-primary pointer" [disabled]="loading">Save</button>
              <a [routerLink]="'/login'" class="btn btn-link">Cancel</a>
          </div>
      </form>
    </div>
  </div>
</div>