<div class="container list-products">
  <div class="col-md-10 offset-md-1">
    <div class="col-md-10 offset-md-1">
      <h3>List produsts</h3>
      <div class="wrapper">
          <div *ngIf="listProductsUser.length === 0">None products</div>

          <div class="text-light add-product" style="margin-bottom: 20px">
              <button class="btn btn-primary pointer" (click)="openModalChangePass()">Add product</button>
          </div>

          <mat-accordion *ngIf="listProductsUser.length > 0">
              <mat-expansion-panel *ngFor="let product of listProductsUser">
                  <mat-expansion-panel-header>
                      <mat-panel-title style="width: 25%;">
                          <mat-checkbox class="selected-product" [(ngModel)]="product.selected"></mat-checkbox>
                          <span>Name: {{product.model.name}}</span>
                      </mat-panel-title>

                      <mat-panel-description>
                          <span>Price: {{product.model.price}}</span>
                      </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="description" style="margin-bottom: 15px;"><span>Description: </span>{{product.model.description}}</div>
                  <div>
                      <button class="btn btn-primary pointer action-product" (click)="openModalChangePass(product, true)">Edit</button>
                      <button class="btn btn-danger pointer action-product" (click)="deleteProduct(product.model.id)" [disabled]="!product.selected">Delete</button>
                  </div>
              </mat-expansion-panel>
          </mat-accordion>

          <mat-paginator #paginator [length]="productsLength"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         *ngIf="listProductsUser.length > 0"
                         (page)="changePaginate($event)">
          </mat-paginator>
      </div>
    </div>
  </div>
</div>