<h1 mat-dialog-title>Create product modal</h1>

<div mat-dialog-content style="height: 80%">
    <form [formGroup]="formCreateProduct" novalidate>
        <div class="form-group">
            <label>Name</label>

            <mat-form-field class="full-width">
                <input matInput placeholder="Name" [formControl]="formCreateProduct.controls['name']">
            </mat-form-field>

            <div class="alert alert-danger"
                 *ngIf="formCreateProduct.controls['name'].errors && formCreateProduct.controls['name'].touched">
                <span *ngIf="formCreateProduct.controls['name'].hasError('required')">This field required</span>
                <span *ngIf="formCreateProduct.controls['name'].hasError('maxlength')">Invalid enter max length password. Correct length: {{maxLength}}</span>
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>

            <mat-form-field class="full-width">
                <textarea matInput placeholder="Description" [formControl]="formCreateProduct.controls['description']"></textarea>
            </mat-form-field>

            <div class="alert alert-danger"
                 *ngIf="formCreateProduct.controls['description'].errors && formCreateProduct.controls['description'].touched">
                <span *ngIf="formCreateProduct.controls['description'].hasError('required')">This field required</span>
                <span *ngIf="formCreateProduct.controls['description'].hasError('maxlength')">Invalid enter max length password. Correct length: {{maxDescription}}</span>
            </div>
        </div>

        <div class="form-group">
            <label>Price</label>

            <mat-form-field class="full-width">
                <input matInput placeholder="Price" [formControl]="formCreateProduct.controls['price']">
            </mat-form-field>

            <div class="alert alert-danger"
                 *ngIf="formCreateProduct.controls['price'].errors && formCreateProduct.controls['price'].touched">
                <span *ngIf="formCreateProduct.controls['price'].hasError('required')">This field required</span>
                <span *ngIf="formCreateProduct.controls['price'].hasError('pattern')">Invalid format. Example: 12.50</span>
            </div>
        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="checkForm(formCreateProduct)" class="btn btn-success">{{data.isEdit ? 'Edit' : 'Create'}}</button>
            <button mat-button (click)="onNoClick()" class="btn btn-primary">Cancel</button>
        </div>
    </form>
</div>